@import "./reset.css";


.logo {
    display: flex;
}

.container{
    width: 1253px;
    margin: 0 auto;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;
}
.main_nav {
    display: flex;
    align-items: center;
}
.nav {
    display: flex;
}
.list {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    list-style: none;
    margin-left: 40px;
    
}

.group {
    width: 21px;
    height: 15px;
    flex-shrink: 0;
    margin-left: 40px;
}


/* -------------------------------------------------------------------- */

.title{
    position: absolute;
    margin-top: 256px;
}

.content{
    background-image: url(./img/image\ 12.png);
    height: 812px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    max-width:1440px;
    max-height: 812px;
    margin: 0 auto;
    filter: brightness(80%)
   
}

/* .explore{
    position: absolute;
    right: 68px;
    top: 376px;
} */

.explore{
    position: absolute;
    top: 530px;
    right: 68px;
    display: flex;
    align-items: center;
}

.disti{
    margin-top:30px;
    margin-left: 24px;
}


/* ------------------------------main */
main{
    background: linear-gradient(180deg, #00BEAC 43.53%, rgba(0, 190, 172, 0) 100%);
    max-width: 1440px;
    height: 1012px;
    top: 894px;
    margin: 0 auto;

}

.main_title{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}

.img{
    margin-top: 82px;
    margin-bottom: -61px;
    margin-left: -12px;
}

.cub{
    height: 24px;
    width: 40px;
    background-color: #41D6C7;
    border-radius: 50px;
    margin-top: 14px;
}
.text{
    margin-top: 32px;
    text-align: center;
    color: #FFF;
    font-family: Circular Std;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.block{
    display: flex;
    gap: 20px;
    margin-top: 90px;
}